# Angular
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log
.angular/

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vs
# Cobertura de pruebas
/coverage
/reports
*.lcov
.nyc_output